.footer {
  width: 100%;
  background-color: #2a2829;
  display: flex;
  flex-direction: row;
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 0 15px;
}
.send {
  text-decoration: none;
  color: white;
  text-align: center;
}
